<!DOCTYPE html>
<html>

  <head>
    <!--<link rel="stylesheet" href="css-js/style.css">-->
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="todo.js"></script>
  </head>

  <body class="container" ng-app="App">
  <div ng-controller="CrudCtrl">
     <span class="btn btn-info btn-xs pull-right" ng-click="add()"><i title="Ajouter" class="fa fa-plus-square"></i> Ajouter</span>
     <table class="table table-hover">
	 <thead>
      <tr>
        <td>Nom </td>
        <td>Prénom</td>
        <td>Adresse</td>
        <td>Email</td>
        <td>Numéro_de_telephone</td>
      </tr>
	  </thead>
	  <tbody>
      <tr ng-repeat="profile in Profiles">
        <td>
          <input type="text" ng-model="profile.name" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.name }}</span>
        </td>
        <td>
          <input type="text" ng-model="profile.prenom" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.country }}</span>
        </td>
                <td>
          <input type="text" ng-model="profile.prenom" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.country }}</span>
        </td>
        <td>
          <input type="text" ng-model="profile.prenom" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.country }}</span>
        </td>
        <td>
          <input type="text" ng-model="profile.prenom" ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.country }}</span>
        </td>


        <td>
          <span class="btn btn-warning btn-xs" ng-click="edit($index)" ng-hide="profile.editable"><i title="Modifier" class="fa fa-edit"></i> </span>
          <span class="btn btn-success btn-xs" ng-click="save($index)" ng-show="profile.editable"><i title="Enregistrer" class="fa fa-save"></i> </span>
          <span class="btn btn-danger btn-xs" ng-click="delete($index)"> <i title="Supprimer" class="fa fa-trash"></i></span>
        </td>
      </tr>
	  </tbody>
    </table>
  </div>
  </body>

</html>